#!/bin/bash -u

export LLVM_HOME="/usr/lib/llvm-18"
export CC="${LLVM_HOME}/bin/clang"
export CXX="${LLVM_HOME}/bin/clang++"

# https://github.com/emil-e/rapidcheck/blob/master/doc/configuration.md
export RC_PARAMS="max_size=100 max_success=100"

export CTEST_OUTPUT_ON_FAILURE=1

ulimit -S -c unlimited
